<ion-view hide-nav-bar='true'>
    <!--头部样式-->
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button" ng-click="doSomething()">左侧按钮</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons">
            <button class="button">右侧按钮</button>
        </div>
    </ion-header-bar>

    <ion-content scroll='true'>
    

    </ion-content>
    <!--底部样式-->
    <ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons">
            <button class="button">左侧按钮</button>
        </div>
        <h1 class="title">Title!</h1>
        <div class="buttons" ng-click="doSomething()">
            <button class="button">右侧按钮</button>
        </div>
    </ion-footer-bar>
</ion-view>